/* ####### configurações css gerais###### */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Inter:wght@400;500;600&family=Montserrat:wght@700;800&family=Teko:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --laranja_claro: #FFF2E780;
    --laranja_medio: #fff2e7;
    --marrom: #a45a49;
    --amarelo: #E7A80E;
    --acizentado_claro: #C7BAB3;
    --acizentado_medio: #c7bab2;
}

body{
    background-color: #1f1517;
    color: #ffffff;
    font-family: Inter, sans-serif;
    font-weight: 500;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* ############ navbar ########### */
nav{
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 8rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    font-family: Teko;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

#menu{
    display: flex;
    gap: 1.5rem;
    color: var(--laranja_claro);
}

#menu > li > a{
    color: var(--laranja_claro);
}

#menu > li > a:hover{
    color: var(--laranja_medio);
    cursor: pointer;
}

#github{
    color: var(--laranja_medio);
    font-weight: 600;
}

/* ############ dados receita: geral ########### */
.span_status{
    font-family: Epilogue;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
}

.marrom{
    color: var(--marrom);
}

.amarelo{
    color: var(--amarelo);
}


/* ############ card: dados_receita ########### */
#dados_receita{
    background: #181012;
    height: 25rem;

    display: flex;
    justify-content: space-center;
    align-items: center;
}

.card{
    margin-inline: auto;
    max-width: 28rem;
    height: 14rem;
    border-radius: 0.5rem;

    transition: transform 0.3s ease-out;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.header_card{
    margin: 0.375rem 0 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-family: Montserrat, sans-serif;
    font-size: 3rem;
    font-weight: 700;
}

.descricao_receita{
    font-family: Inter, sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--acizentado_claro);

    margin-bottom: 1.5rem;
}

.dados_cliente{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.imagem_cliente{
    width: 2.5rem;
    height: auto;
    border-radius: 50%;
}

.cliente{
    display: flex;
    flex-direction: column;
}

.nome_cliente{
    text-align: justify;
    color: var(--acizentado_claro);
    font-weight: 500;
    font-size: 1.125rem;
}

.data_membro{
    font-size: 0.875rem;
    font-weight: 500;
    color: #756A67;
}

/* ############ pontuacoes_receita ########### */
#pontuacoes_receita{
    background: #1F1517;
    padding: 1.5rem;
    margin: auto;
    max-width: 31rem;
}

#card_pontuacao{
    margin-top: 1.25rem;
    border-radius: 0.5rem;
}

.header_pontuacao{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.75rem;
}

.header_pontuacao > p{
    font-family: Montserrat, sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--laranja_medio);
}

.header_pontuacao > span{
    font-size: 1rem;
    font-weight: 500;
    color: var(--laranja_claro);
}

.progressao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 28rem;
}

progress.pontuacao{
    margin: auto;
}

progress[value] {
    appearance: none;
    -webkit-appearance: none;
}

progress[value]::-webkit-progress-bar {
    background-color: #f5f5f5;
    border: none;
    border-radius: 0.25rem;
    width: 6rem;
    height: 0.25rem;
}

progress[value]::-webkit-progress-value {
    background-color: var(--marrom);
    border-radius: 0.25rem;
}

progress[value]::-moz-progress-bar {
    background-color: var(--marrom);
}

/* ############ receita: geral ########### */
#receita{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 2rem;
    /* gap: 2rem; */
}

.header_receita > h2{
    font-family: Montserrat, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--laranja_medio);
    margin-bottom: 0.25rem;
}

.header_receita > p{
    font-size: 1rem;
    font-weight: 400;
    color: var(--acizentado_claro);
    margin-bottom: 2rem;
}

/* ############ receita: modo preparo ########### */

#modo_preparo{
    max-width: 44rem;
    background: #23181A;
    margin-top: 2rem;
    border-radius: 0.5rem;
    padding: 1.5rem 1.5rem 0 1.5rem;
}

#conteudo_preparo {
    list-style-type: none; /* Remove os pontos */
    counter-reset: item; /* Zera o contador */
}

#conteudo_preparo > li {
    counter-increment: item; /* Incrementa o contador */
    margin-bottom: 1.5rem; /* Espaçamento entre os itens */
    font-size: 1rem;
    color: var(--laranja_medio);
    font-weight: 600;
}

#conteudo_preparo > li::before {
    content: counter(item); /* Adiciona o número do contador */
    background-color: var(--marrom); /* Cor de fundo para o número */
    padding: 0.594rem 0.9rem; /* Espaçamento ao redor do número */
    border-radius: 0.5rem; /* Deixa o número em forma de círculo */
    margin-right: 1rem; /* Espaçamento à direita do número */
}
#conteudo_preparo > li:last-child::before {
    content: "🎉"; /* Substitui o número pelo emoji */
    padding: 0.594rem 0.594rem;
}

#conteudo_preparo > li > .passo{
    font-size: 1rem;
    font-weight: 400;
    color: var(--acizentado_claro);
}

/* ########### receita: ingredientes ########## */
#ingredientes{
    max-width: 20.25rem;
    background: #23181A;
    margin-top: 2rem;
    border-radius: 0.5rem;
    padding: 1.5rem;
}

.ingrediente{
    display: flex;
    margin-bottom: 1rem;
}

.item_ingrediente{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.item_ingrediente > .medida_ingrediente{
    color: var(--marrom);
}

input[type="checkbox"] {
    -webkit-appearance: none; /* Remove a aparência padrão do navegador no Safari/Chrome */
    -moz-appearance: none; /* Remove a aparência padrão do navegador no Firefox */
    appearance: none; /* Remove a aparência padrão do navegador */
    
    width: 1.25rem;
    height: 1.25rem;
    background: #2E2023;
    border: solid #38282B 0.104rem;
    border-radius: 0.417rem;
    margin-right: 0.5rem;
    cursor: pointer;
}



/* ############ footer ########### */
footer{
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.625rem;
    background: #23181A;
}

#copyright{
    font-size: 0.875rem;
    color: var(--laranja_medio);
}

#autor{
    font-size: 0.875rem;
    color: #fff2e750;
}